.font-lger {
  font-size: $font-lger;
}

.font-lg {
  font-size: $font-lg;
}

.font-md {
  font-size: $font-md;
}

.font-sm {
  font-size: $font-sm;
}

.font-xs {
  font-size: $font-xs;
}

.line-height-base {
  line-height: $line-height-default;
}

